*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Catamaran', sans-serif;
    -webkit-appearance: none;
}

body{
    display: flex;
    background-attachment: fixed;
    flex-direction: column;
    background-image: url(./img/switch-bg-intro-desktop.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 101px;
}

#back-btn{
    display: flex;
    align-items: flex-start;
    height: fit-content;
}

#back-btn{
    font-size: 18px;
    font-weight: 600;
}

.logo img{
    width: 124px;
    height: auto;
    float: left;
    margin-bottom: 29px;
}

.right-sec-logo{
    display: none;
}

.left-section{
    display: flex;
    flex-direction: column;
    width: 39%;
    margin: 147px auto;
}

.left-section h3{
    font-size: 18px;
    font-weight: 600;
    color: #191919;
}

.left-section p{
    font-size: 14px;
    font-weight: 400;
    opacity: 0.75;
}

.text-1, .text-2, .text-3{
    display: flex;
    gap: 15px;
    margin-bottom: 25px ;
    align-items: flex-start;
}


.right-section{
    width: 50%;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container h2{
    font-size: 22px;
    margin-bottom: 43px;
}

.container p{
    font-size: 14px;
    font-weight: 400;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    justify-items: center;
    padding: 50px;
    border: 1px solid rgba(112, 112, 112, 0.25);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
    width: 502px;
}

.form-section input, select{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    margin-bottom: 30px;
    padding: 0px 23px;
    border-radius: 7px;
    outline: none;
    height: 45px;
    border: 1px solid rgba(112, 112, 112, 0.3);
    box-shadow: 0px 0px 6px rgba(24, 153, 215, 0);
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    background-image: url(./img/vuesax-bold-arrow-down.svg);
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 14px;
}

#fllna{
    display: flex;
    gap: 32px;
}

.form-section input:focus{
    box-shadow: 0px 0px 6px rgba(24, 153, 215, 0.9);
    border: 1px solid rgba(24, 153, 215, 1);
}

#check{
    display: flex;
    gap: 5px;
    margin-bottom: 30px;
}

#check p{
    color: #191919;
    opacity: 0.75;
    font-size: 13px;
    font-weight: 400;
}

#check input{
    width: 18px;
    border: 1px solid rgba(112, 112, 112, 0.3);
    border-radius: 5px;
    cursor: pointer;
    height: 18px;
}

button{
    width: 100%;
    border-radius: 7px;
    height: 45px;
    background: rgba(24, 153, 215, 1) 0% 0% no-repeat padding-box;
    font-weight: 600;
    border: 1px solid rgba(178, 178, 178, 0.5);
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px;
    color: white;
}

button:hover{
    background: rgba(19, 120, 168, 1) 0% 0% no-repeat padding-box;
}

.sign-up a{
    font-size: 14px;
    font-weight: 400;
    color: rgba(24, 153, 215, 1);
}

.sign-up a:hover{
    color: rgba(25, 25, 25, 1);
}

footer{
    display: flex;
    gap: 44px;
    font-size: 14px;
    font-weight: 400;
    margin: 0px auto;
    color: rgba(25, 25, 25, 1);
}

footer p, a{
    color: rgba(25, 25, 25, 1);
}

footer a:hover{
    text-decoration: underline;
}

@media (max-width: 428px) {
    body{
        background-image: url(./img/mobile-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    main{
        width: 100%;
        padding: 0 14px;
        margin: 0px auto;
    }
    #back-btn{
        display: none;
    }
    .left-section{
        display: none;
    }
    .right-sec-logo{
        display: block;
        align-self: flex-start;
        float: left;
        margin-bottom: 20px;
    }
    .right-section{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .container{
        max-width: 100%;
        padding: 25px;
    }
    .right-sec-logo img{
        width: 124px;
        height: auto;
    }
    footer{
        margin-top: 100px;
    }

}